body {
    background-image: url('/images/pic1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }


nav{
width: 100%; height: 15vh;
display: flex; justify-content: space-between; 
align-items: center;
color: #000;
font-size-adjust: none;


} 

main{
width: 100%; height: 85vh;
display: flex; justify-content: center;
align-items: center;
text-align: center;
}


logo{
width: 100%; height: 15vh;
display: flex; justify-content: space-between;
align-items: center;
} 



/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 605px;
  background: #d6caca;
  opacity: 75%;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
.wrapper head{
    text-decoration: rgb(0, 0, 0);
}
header, .content :where(i, p, span){
  color: #000000;
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content{
  margin: 35px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
}
.quote-area i:first-child{
  margin: 3px 10px 0px 0px;
}
.quote-area i:last-child{
  display: flex;
  margin: 0px 0px 3px 10px;
  align-items: flex-end;
}
.quote-area .quote{
  font-size: 22px;
  text-align: center;
}

.wrapper .buttons{
 text-align: center;
}
.buttons .features{
  margin-top: 25px;
}

.buttons button{

  border: none;
  color: rgb(0, 0, 0);
  outline:#000000;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 30px;
  border:1px solid rgb(3, 3, 3);
  border-color: black;
  background: #fce567;

}

.buttons1 button{

    margin-left: 34%;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 30px;
    background: #d6caca;
  
  }

  body {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; 
    width: 100%;
    margin: 0;
}
/* .holder {
    background-color: #4c474c;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4c474c), to(#141414));
    background-image: -o-linear-gradient(bottom, #4c474c 0%, #141414 100%);
    background-image: linear-gradient(0deg, #4c474c 0%, #141414 100%);
    border-radius: 20px;
} */
[data-role="controls"] > button {
    margin: 50px auto;
    outline: none;
    display: block;
    border: none;
    background-color: #050205;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#D9AFD9), to(#97D9E1));
    background-image: -o-linear-gradient(bottom, #D9AFD9 0%, #97D9E1 100%);
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: -1000em;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(248, 248, 248, 0.3) inset, 
        0px 0px 0px 0px #fff, 0px 0px 0px 0px #333;
            box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.3) inset, 
        0px 0px 0px 0px #fff, 0px 0px 0px 10px rgb(51, 39, 39);
}
[data-role="controls"] > button:hover {
    background-color: #ee7bee;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
    background-image: -o-linear-gradient(bottom, #ee7bee 0%, #6fe1f5 100%);
    background-image: linear-gradient(0deg, #25065e 0%, #6fe1f5 100%);
}
[data-role="controls"] > button[data-recording="true"] {
    background-color: #ff2038;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
    background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
    background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}
[data-role="recordings"] > .row {
    width: auto;
    height: auto;
    padding: 20px;
}
[data-role="recordings"] > .row > audio {
    outline: none;
}
[data-role="recordings"] > .row > a {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    line-height: 50px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    background-color: #ebf1f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0093E9), to(#80D0C7));
    background-image: -o-linear-gradient(bottom, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
    float:right;
    margin-left: 20px;
    cursor: pointer;
}
[data-role="recordings"] > .row > a:hover {
    text-decoration: none;
}
[data-role="recordings"] > .row > a:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0093E9), to(#80D0C7));
    background-image: -o-linear-gradient(top, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
}









